<section id=public_recipes>
    <h2>Public Recipes</h2>
    <% 5.times do %>
        <div class="public_recipe">
            <div class="recipe_name">
                <%= link_to  "Sanjay", url: recipe_path(3) %>
                <p>by: David</p>
            </div>
            <div class="recipe_info">
                <p>Total Food items: 4</p>
                <p>Total Price: $300</p>
            </div>
        </div>
    <% end %>

   <% @recipes.each do |recipe| %>
        <div class="public_recipe">
            <div class="recipe_name">
                <%= link_to  "#{recipe.name}", url: recipe_path(recipe) %>
                <p>by: <%= recipe.user.name%></p>
            </div>
            <div class="recipe_info">
                <p>Total Food items: <%= count(recipe.food) %></p>
                <p>Total Price: $<%= recipe.food.price %></p>
            </div>
        </div>
    <% end %>
-->
</section>