

<div class="container d-flex justify-content-end mb-5" >
  <%= link_to "Add Food", new_food_path(current_user), class: "btn btn-primary" %>
</div>
<table class="table table-striped table-bordered container">
  <thead> 
    <tr>
      <th scope="row">Food</th>
      <th>Measurement Unit</th>
      <td>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <tr>
      <th scope="row"><%= food.name %></th>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td> <%= link_to 'Remove', @post, method: :delete , class: "col-2 m-2 "%></td>
    </tr>
   <% end %>
  </tbody>
</table>