<h1>New Food for <%=current_user&.name%></h1>
<%= link_to foods_path do %>
  <h2>Go back to users' food</h2>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<%= form_with model: [@food] do |form| %>
  Name: <%= form.text_field :name%><br />
  Unit : <%= form.text_field :measurement_unit %><br />
  Unit Price : <%= form.text_field :price %><br />
  Quantity : <%= form.text_field :quantity %><br />
  <%= form.submit %>
<% end %>